//region all

$main-green: #2fb16f;
$main-violet: #433462;

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  font-family: CenturyGothicRegular;
}

body {
}

footer {
  padding: 30px 0;
}

a {
  transition: all 0.3ms;
  color: white;
}

a:hover, a:active, a:focus {
  text-decoration: none;
}

//endregion
//region fonts
@font-face {
  font-family: "CenturyGothicRegular";
  src: url("../fonts/CenturyGothicRegular/CenturyGothicRegular.eot");
  src: url("../fonts/CenturyGothicRegular/CenturyGothicRegular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/CenturyGothicRegular/CenturyGothicRegular.woff") format("woff"),
  url("../fonts/CenturyGothicRegular/CenturyGothicRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.font-centuryGothicRegular {
  font-family: CenturyGothicRegular;
}

@font-face {
  font-family: "CenturyGothic";
  src: url("../fonts/CenturyGothic/CenturyGothic.eot");
  src: url("../fonts/CenturyGothic/CenturyGothic.eot?#iefix") format("embedded-opentype"),
  url("../fonts/CenturyGothic/CenturyGothic.woff") format("woff"),
  url("../fonts/CenturyGothic/CenturyGothic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.font-centuryGothic {
  font-family: CenturyGothic;
}

@font-face {
  font-family: "CenturyGothicBold";
  src: url("../fonts/CenturyGothicBold/CenturyGothic-Bold.eot");
  src: url("../fonts/CenturyGothicBold/CenturyGothic-Bold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/CenturyGothicBold/CenturyGothic-Bold.woff") format("woff"),
  url("../fonts/CenturyGothicBold/CenturyGothic-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.font-centuryGothicBold {
  font-family: CenturyGothicBold;
}

@font-face {
  font-family: "CenturyGothicItalic";
  src: url("../fonts/CenturyGothicItalic/CenturyGothic-Italic.eot");
  src: url("../fonts/CenturyGothicItalic/CenturyGothic-Italic.eot?#iefix") format("embedded-opentype"),
  url("../fonts/CenturyGothicItalic/CenturyGothic-Italic.woff") format("woff"),
  url("../fonts/CenturyGothicItalic/CenturyGothic-Italic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.font-centuryGothicItalic {
  font-family: CenturyGothicItalic;
}

//endregion

.header {
  font-size: 45pt;
  font-family: CenturyGothicBold;
  color: rgb(73, 80, 97);
  font-weight: bold;
  text-align: center;
  margin: 40px 0;
}

.green-text {
  color: $main-green;
}

.green-button-wrapper {
  text-align: center;
  .green-button {
    display: inline-block;
    background-color: #2fb16f;
    padding: 15px 60px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 13pt;
    &:hover {
      background-color: #288a4f;
    }
  }
}
footer,
header {
  background-color: #3e2e5e;
  position: relative;

  .navbar .navbar-nav {
    display: inline-block;
    float: none;
  }

  .navbar .navbar-collapse {
    text-align: center;
  }

  .header-phone-number {
    font-size: 12pt;
  }

  #myNavbar ul {
    position: relative;
    left: 0;
    right: 0;

  }

  .navbar-brand {
    padding: 0;
  }

  .navbar {
    background-color: #3e2e5e;
  }

  .navbar-brand {
    font-size: 24px;
  }

  .navbar-container {
    padding: 20px 0 20px 0;
  }

  .navbar.navbar-fixed-top.fixed-theme {
    border-color: #080808;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    background-color: #30254a;

  }

  .navbar-brand.fixed-theme {
    font-size: 18px;
  }

  .navbar-container.fixed-theme {
    margin-top: 20px;
  }

  & * {
    transition: 0.8s;
    -webkit-transition: 0.8s;
  }

  .nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: #eee;
    color: #3e2e5e !important;
  }

  .navbar-toggle {
    .icon-bar {
      background-color: white;
    }
  }

  .header-content {
    padding-top: 100px;
    text-align: center;
    color: white;
    padding-bottom: 10px;
    background: url("../images/stars.png") no-repeat right center;
    background-size: contain;
    .header-content-header {
      font-size: 50pt;
      word-break: break-all;
    }
    .header-content-footer-header {
      margin-top: 100px;
      font-size: 17pt;
    }
    .prises {
      position: relative;
      display: inline-block;
      left: 175px;
      right: 0;
      margin: 25px 0;
      .price {
        font-size: 22.667px;
      }
    }
  }
}

section {
  padding: 15px;
}

#services {
  .service {
    .service-image {
      text-align: center;
    }
    .service-description {
      font-size: 13pt;
      font-family: CenturyGothic;
      color: rgb(73, 80, 97);
      text-align: center;
    }
  }
}

#works {
  background-color: #ffffff;
  .header-description {
    font-size: 22.667px;
    font-family: "CenturyGothic";
    color: rgb(133, 141, 157);
    text-align: center;
  }
}

#feedback {
  .feedback {
    .feedback-description {
      font-size: 16px;
      font-family: "CenturyGothic";
      color: rgb(146, 150, 153);
      font-style: italic;
      text-align: justify;
    }
    .feedback-author {
      .author-image {
        float: left;
      }
      .author-email {
        font-size: 16px;
        font-family: "CenturyGothic";
        color: rgb(146, 150, 153);
        font-style: italic;
        text-align: justify;
      }
      .author-name {
        font-size: 16px;
        font-family: "CenturyGothic";
        color: rgb(19, 21, 25);
        font-weight: bold;
        text-align: justify;
      }
    }
  }
}

//region results
#results {
  .triangle-wrapper {
    & > img {
      left: 170px;
      top: 40px;
    }
  }
}

#results2 {
  .triangle-wrapper {
    & > img {
      right: 170px;
      top: 40px;
    }
    .details-rectangle-violet,
    .details-triangle {
      margin-left: auto;
    }
  }
}

.results {
  font-size: 14pt;
  margin-bottom: 30px;
  .details-rectangle-white {
    display: inline-block;
    padding: 5px;
    margin-top: 35px;
  }
  .triangle-wrapper {
    color: white;
    position: relative;
    font-size: 12pt;
    .details-triangle {
      position: relative;
      z-index: -1;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 100px 100px 0 100px;
      border-color: $main-violet transparent transparent transparent;
      & > p {
        position: absolute;
        bottom: 30px;
        left: -40px;
      }
    }
    .details-rectangle-violet {
      background-color: $main-violet;
      margin-bottom: 10px;
      width: 200px;
      padding: 5px 20px;
      & > p {
        margin: 25px 0;
      }
    }
    & > img {
      position: absolute;
      cursor: zoom-in;
      height: 100%;
    }
  }
}

//endregion

#stock {
  background-color: $main-violet;
  color: white;
  padding: 20px 0;
  .stock-header {
    font-size: 30pt;
    font-family: "CenturyGothic";
    font-weight: bold;
  }

  .stock-description {
    font-size: 20px;
    font-family: "CenturyGothic";
    .percentage {
      color: $main-green;
      font-weight: bold;
    }
  }

  #timer {
    font-family: CenturyGothicRegular;
    color: white;
    text-align: center;
    margin-bottom: 30px;
    & h1{
      justify-content: center;
      display: flex;
    }
    .name {
      text-transform: uppercase;
      font-size: 15pt;
    }
    .time,.time > div:first-child {
      display: inline-block;
    }
    .time > div:first-child {
      font-size: 60pt;
    }
    .bracket {
      font-size: 60pt;
      color: $main-green;
      &:first-child{
        padding-right: 15px;
      }
      &:last-child{
        padding-left: 15px;
      }
    }
    div.colon{
      display: inline-block;
      font-size: 50pt;
      padding: 0 15px;
    }
  }

  #form {
    display: flex;
    justify-content: center;
    .input-submit,
    .input {
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      padding: 5px;
      border: none;
      background-color: #574773;
    }
    .input {
      padding: 6px 20px;
      width: 270px;
      caret-color: white;
      color: white;
      margin: 0 15px;
      &:focus {
        outline: none;
      }
    }

    .input-submit {
      color: white;
      background-color: $main-green;
      cursor: pointer;
      padding: 5px 35px;
      &:focus {
        outline: none;
      }
    }
  }
}

#prices {
  .price {

  }
}

#prices2 {
  .header {
    font-size: 20pt;
  }
}

.prices {
  .price {
    border: 2px solid rgb(235, 235, 235);
    border-radius: 10px;
    padding: 15px 10px 20px;
    display: flex;
    flex-direction: column;
    .price-title {
      text-align: center;
      font-size: 18pt;
      color: rgb(27, 32, 44);
    }
    .price-price {
      text-align: center;
      font-size: 25pt;
      color: rgb(61, 43, 92);
    }
    .price-description {
      font-size: 11pt;
      color: rgb(147, 151, 154);
      line-height: 30px;
    }
    &:hover,
    &:focus {
      transition: all .2s;
      border-color: $main-green;
      transform: scale(1.1);
    }
  }
}

footer{
  .copyright{
    color: white;
    text-align: center;
  }
  .footer-menu{
    display: inline-block;
    position: relative;
    left: 42%;
    transform: translateX(-50%);
  }
}

@media all and (max-width: 767px) {
  .header-phone-number,
  .navbar-brand {
    display: none;
  }

  .navbar-container{
    padding: 0 !important;
  }

  #results .triangle-wrapper > img {
    right: 10px;
    left: auto;
    width: 50%;
  }
  #results2 .triangle-wrapper > img {
    left: 10px;
    right: 0;
    width: 50%;
  }

  .prices {
    .price {
      margin-bottom: 15px;
    }
  }

  #myNavbar ul {
    left: 100%;
    transform: initial;
  }
}